{%extends "layout.html"%}
{% block content%}

<header>
   <img src="static/imagenes/tec2.jpg" width="200px">
</header>


    
<section class="main" >
    
<section class="articles">
        <article>
            <h2> GATOS  </h2>
            <br>
            <p>Veterinaria especializada en gatos!

            
                
                <img src="static/imagenes/gatoos.jpg" width="200px">
           </p>
       </article>
        <article>
           <h2>  </h2>
            <br>
           
                En nuestra clínica, nos dedicamos a proporcionar los mejores cuidados para tus fieles amigos de cuatro patas. Entendemos lo importante que son tus perros para ti, por eso nos esforzamos por ofrecer servicios veterinarios de alta calidad que garanticen su salud y bienestar.
                
                Nuestro equipo de veterinarios altamente capacitados está aquí para ofrecerte una variedad de servicios básicos que incluyen consultas médicas, vacunaciones, desparasitaciones, análisis de laboratorio y más. Ya sea que necesites un chequeo de rutina o atención para una situación específica, puedes confiar en nosotros para cuidar a tu perro con profesionalismo y compasión.
                
                En la Clínica Veterinaria Canina, nos enorgullecemos de crear un ambiente cálido y acogedor donde tanto tú como tu mascota se sientan cómodos y seguros. ¡Confía en nosotros para ser tu socio en el cuidado de la salud de tu perro! Contáctanos hoy mismo para programar una cita.
                /p>
        
        </article>
</section>  
</section> 
<aside>
    <h3> Avisos:</h3>
    <p> EL HORARIO DE LNES A VIERNES 9AM A 10PM
        HORARIO DE SABADO Y DOMINGO 8AM A 11PM
        <br>
        
       
    </p>
      
</aside>
    
  
  
{%endblock%}