{%extends "layout.html"%}
{% block content%}

<header>
   <img src="static/imagenes/DOG.jpg" width="200px">
</header>


    
<section class="main" >
    
<section class="articles">
        <article>
            <h2> PERROS  </h2>
            <br>
            <p>¡Bienvenidos a la Clínica Veterinaria Felina!

                
                
           </p>
       </article>
        <article>
           <h2>  </h2>
            <br>
           
            En nuestra clínica, comprendemos la importancia de brindar atención veterinaria especializada para nuestros amigos felinos. Sabemos que los gatos son parte de la familia, por eso nos dedicamos a ofrecer servicios veterinarios de calidad que garanticen su salud y bienestar.

            Nuestro equipo de expertos veterinarios está aquí para proporcionar una variedad de servicios básicos diseñados específicamente para atender las necesidades de tu gato. Desde consultas médicas y vacunaciones hasta desparasitaciones y análisis de laboratorio, estamos comprometidos a ofrecer cuidados compasivos y profesionales para tu felino favorito.
            
            En la Clínica Veterinaria Felina, nos enorgullece crear un ambiente tranquilo y relajado donde tu gato se sienta cómodo y seguro durante su visita. Confía en nosotros para ser tu aliado en el cuidado de la salud de tu compañero felino. ¡Contáctanos hoy mismo para programar una cita y brindarle a tu gato la atención que se merece!
            
            
            
            
            
                /p>
        
        </article>
</section>  
</section> 
<aside>
    <h3> Avisos:</h3>
    <p> EL HORARIO DE LNES A VIERNES 9AM A 10PM
        HORARIO DE SABADO Y DOMINGO 8AM A 11PM
        <br>
        
       
    </p>
      
</aside>
    
  
  
{%endblock%}