{%extends "layout.html"%}
{% block content%}

<header>
   <img src="static/imagenes/ic.png" width="200px">
</header>  
<section class="main" >
    
<section class="articles">
        <article>
            <h2> sitio especializado en programacion
                 </h2>
            <br>
            <p>
                
                
                
                
                <img src="static/imagenes/tec5.jpg" width="200px">
           </p>
       </article>
        <article>
           <h2> </h2>
            <br>
           
        
        </article>
</section>  
</section> 
<aside>
    <h3> Avisos:</h3>
    <p> EL HORARIO DE LNES A VIERNES 9AM A 10PM
        HORARIO DE SABADO Y DOMINGO 8AM A 11PM
        <br>
        
       
    </p>
  
{%endblock%}