{%extends "layout.html"%}
{% block content%}
<header>
   <img src="static/imagenes/CO.WEBP" width="200px">
</header>


<section class="main" >
    
<section class="articles">
        <article>
            <h2> CONEJOS  </h2>
            <br>
            <p>¡Bienvenidos a la Clínica Veterinaria de Conejos!
                
                
           </p>
       </article>
        <article>
           <h2>  </h2>
            <br>
           
            En nuestra clínica, nos apasiona el cuidado y bienestar de estos adorables compañeros de orejas largas. Sabemos que los conejos son animales especiales que merecen una atención veterinaria específica y dedicada, por eso ofrecemos una amplia gama de servicios básicos diseñados para mantener a tu conejo sano y feliz.

Nuestro equipo de veterinarios especializados en conejos está altamente capacitado para brindar servicios como consultas médicas, vacunaciones, exámenes de salud preventivos, cuidado dental, y mucho más. Nos comprometemos a proporcionar un ambiente tranquilo y relajado para tu conejo durante su visita a nuestra clínica, asegurando que se sienta cómodo y seguro en todo momento.

En la Clínica Veterinaria de Conejos, entendemos la importancia de la atención individualizada y personalizada para cada paciente. Confía en nosotros para cuidar de tu conejo como si fuera parte de nuestra propia familia. ¡Contáctanos hoy mismo para programar una cita y asegurarte de que tu conejo reciba la mejor atención veterinaria posible!
            
            
            
                /p>
        
        </article>
</section>  
</section> 
<aside>
    <h3> Avisos:</h3>
    <p> EL HORARIO DE LNES A VIERNES 9AM A 10PM
        HORARIO DE SABADO Y DOMINGO 8AM A 11PM
        <br>
        HORARIO
       
    </p>
      
</aside>
    
  
{%endblock%}